body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .screen {
    display: none;
    padding: 20px;
  }
  
  .screen.active {
    display: block;
  }
  
  .hidden {
    display: none;
  }
  
  #gameField {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px auto;
    max-width: 400px;
  }
  
  #gameField div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 60px;
    cursor: pointer;
  }
  
  #gameField div.correct {
    background-color: #4caf50;
    color: #fff;
  }
  
  #gameField div.incorrect {
    background-color: #f44336;
    color: #fff;
  }
  
  /* Стилі для кнопок */
  .btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* Стилі для таблиці результатів */
  .results-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .results-table th,
  .results-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .results-table th {
    background-color: #f4f4f4;
  }
  
  .results-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .results-table tr.highlighted {
    background-color: rgb(30, 23, 235);
    font-weight: bold;
  }
  